<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
	<div th:fragment="jquery">
		<script src="/js/jquery.min.js"></script>
		<script src="/js/jquery-ui.min.js"></script>
		<script src="/js/jquery.validate.min.js"></script>
		<script src="/js/additional-methods.min.js"></script>
		<link rel="stylesheet" href="/css/jquery-ui.min.css" />
	</div>

	<div th:fragment="bootstrap">
		<script src="/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.min.css" />
	</div>

	<div th:fragment="booking-validation">
		<script>
			$(document).ready(function() {
				$('#insertBookingForm').validate({
					rules : {
						customer : {
							required : true,
							minlength: 2,
							maxlength: 25
						},
					},
					messages : {
						registration : {
							required : " * Customer field is required",
							minlength: " * Customer must contain at least 2 characters",
							maxlength: " * Customer must only contain 25 characters"
						}
					}
				});
			});
		</script>
	</div>

	<div th:fragment="register-validation">
		<script>
			$(document).ready(function() {
				$('#userRegisterForm').validate({
					rules : {
						username : {
							required : true,
							remote: {
								type: 'get',
								url: 'isUsernameAvailable',
								data: {
									'username': function () { return $('#username').val(); }
								},
								dataType: 'json'
							},
							minlength: 5,
							maxlength: 10
						},
						password : {
							required : true,
							minlength: 5,
							maxlength: 10
						},
						passwordConfirm : {
							required : true,
							minlength: 5,
							maxlength: 10,
							equalTo: "#password"
						},
					},
					messages : {
						username : {
							required : " * Username field is required",
							remote: " * Username already exists",
							minlength: " * Username must contain at least 5 characters",
							maxlength: " * Username must only contain 10 characters"
						},
						password : {
							required : " * Password field is required",
							minlength: " * Password must contain at least 5 characters",
							maxlength: " * Password must only contain 10 characters"
						},
						passwordConfirm : {
							required : " * Confirm password field is required",
							minlength: " * Confirm password must contain at least 5 characters",
							maxlength: " * Confirm password must only contain 10 characters",
							equalTo: " * Passwords must match"
						}
					}
				});
			});
		</script>
	</div>
</body>
</html>