<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>TaxiApp - Display Bookings</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    </head>
    <body class="text-center">
        <div th:insert="~{fragments/js :: jquery}"></div>
        <div th:insert="~{fragments/js :: bootstrap}"></div>
        <div th:insert="~{fragments/navbar :: navbar}"></div>

        <div class="container">
            <div class="row">
                <h1>List of Bookings</h1>

                <div th:if="!${#lists.isEmpty(bookings)}">
                    <form th:action="@{/assignBooking}" th:object="${bookingId}" method="post" id="assignBookingForm"></form>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Booking ID</th>
                                <th scope="col" class="text-center">Booking Center</th>
                                <th scope="col" class="text-center">Customer</th>
                                <th scope="col" class="text-center">Taxi ID</th>
                                <th scope="col" class="text-center">Taxi Registration</th>
                                <th scope="col" class="text-center">Created Date</th>
                                <th scope="col" class="text-center">Pickup</th>
                                <th scope="col" class="text-center">Assigned Date</th>
                                <th scope="col" class="text-center">Dropoff</th>
                                <th scope="col" class="text-center">Dropoff Date</th>
                                <th sec:authorize="hasRole('USER')" scope="col" class="text-center">Assign?</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="booking : ${bookings}">
                                <td th:text="${booking.getBookingId()}" />
                                <td th:text="${booking.getBookingCenter()}" />
                                <td th:text="${booking.getCustomer()}" />
                                <td th:text="${booking.taxi != null} ? ${booking.getTaxi().getTaxiId()} : 'Unassigned'" />
                                <td th:text="${booking.taxi != null} ? ${booking.getTaxi().getRegistration()} : 'Unassigned'" />
                                <td th:text="${booking.getCreateDt()}" />
                                <td th:text="${booking.getPickup()}" />
                                <td th:text="${booking.assignedDt != null} ? ${booking.getAssignedDt()} : 'Unassigned'" />
                                <td th:text="${booking.getDropoff()}" />
                                <td th:text="${booking.dropoffDt != null} ? ${booking.getDropoffDt()} : 'Incomplete'" />
                                <td sec:authorize="hasRole('USER')">
                                    <input th:if="${booking.assignedDt == null && taxi.getIsAvailable()}" th:value="*{booking.getBookingId()}" type="hidden" name="bookingId" form="assignBookingForm" />
                                    <input th:if="${booking.assignedDt == null && taxi.getIsAvailable()}" type="submit" value="Assign" form="assignBookingForm" />
                                    <input th:if="${booking.assignedDt != null || !taxi.getIsAvailable()}" disabled type="submit" value="Assign" form="assignBookingForm" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="${#lists.isEmpty(bookings)}">
                    <h2>No bookings have been created yet</h2>
                </div>
            </div>
        </div>

        <div class="text-center"><br>
            <a href="/">Dashboard</a>
            <span sec:authorize="hasRole('ADMIN')">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <a sec:authorize="hasRole('ADMIN')" href="/displayTaxis">Display Taxis</a>
            <span sec:authorize="hasRole('ADMIN')">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <a sec:authorize="hasRole('ADMIN')" href="/insertBooking">Insert Booking</a>
            <span sec:authorize="hasAnyRole('USER', 'ADMIN')">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <a sec:authorize="hasAnyRole('USER', 'ADMIN')" href="/displayBookings">Display Bookings</a>
        </div>

        <div class="text-center"><br> &copy; TaxiApp. 2024 <br><br>
            <span class="text-center" sec:authorize="isAuthenticated()"> User: <span class="text-center" sec:authentication="name"></span>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="text-center" th:href="@{/logout}">Logout</a></span>
        </div>
    </body>
</html>