<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>TaxiApp - Dashboard</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    </head>

    <body>
        <div th:insert="~{fragments/js :: jquery}"></div>
        <div th:insert="~{fragments/js :: bootstrap}"></div>
        <div th:insert="~{fragments/navbar :: navbar}"></div>

        <div class="container">
            <div class="row">
                <h1 class="text-center">Dashboard</h1>
                <div sec:authorize="hasRole('USER')">
                    Text visible to user.
                </div>

                <div sec:authorize="hasRole('ADMIN')">
                    Text visible to admin.
                </div>

            </div>
        </div>

        <div class="text-center"><br>
            <a href="/">Dashboard</a>
            <span sec:authorize="hasRole('ADMIN')">&nbsp; |&nbsp;&nbsp;</span>
            <a sec:authorize="hasRole('ADMIN')" href="/insertTaxi">Insert Taxi</a>
            <span sec:authorize="hasRole('ADMIN')">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <a sec:authorize="hasRole('ADMIN')" href="/displayTaxis">Display Taxis</a>
            <span sec:authorize="hasRole('ADMIN')">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <a sec:authorize="hasRole('ADMIN')" href="/insertBooking">Insert Booking</a>
            <span sec:authorize="hasAnyRole('USER', 'ADMIN')">&nbsp;&nbsp;|&nbsp;&nbsp;</span>
            <a sec:authorize="hasAnyRole('USER', 'ADMIN')" href="/displayBookings">Display Bookings</a>
        </div>

        <div class="text-center"><br> &copy; TaxiApp. 2024 <br><br>
            <span class="text-center" sec:authorize="isAuthenticated()"> User: <span class="text-center" sec:authentication="name"></span>&nbsp;&nbsp;|&nbsp;&nbsp;<a class="text-center" th:href="@{/logout}">Logout</a></span>
        </div>
    </body>
</html>